@font-face {
  font-family: "Journalism";
  src: url("font/journalism2.ttf");
}

@font-face {
  font-family: 'NeoSans';
  src: url("font/NeoSansW1G-Regular.otf");
}

html, body {
  height: 100%;
  background: #eee;
  font-family: 'NeoSans';
}

h2 {
  font: 600 2.7em "Journalism";
  letter-spacing: 4px;
}

.container {
  width: 1200px;
  height: auto;
  overflow: auto;
}

a {
  color: black;
  font: 600 1.2em "Journalism";
  letter-spacing: 2px;
  transition: all .3s ease-in-out;
}

a:hover {
  color: black;
}

.form-control {
  border-radius: 0;
}

.header {
  width: 100%;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}

.header__logo {
  float: left;
}

.header__nav {
  float: left;
}

.header__nav li {
  display: inline-block;
  padding: 10px;
}

.header__nav li:first-child {
  padding-left: 0;
}

.header__nav li:last-child {
  padding-right: 0;
}

.header__nav li a {
  display: block;
}

.header form {
  width: 200px;
  float: right;
  margin: 10px 0;
  position: relative;
}

.header form button {
  top: 5px;
  right: 10px;
  position: absolute;
  border: none;
  background: transparent;
  transition: all .3s ease-in-out;
}

.header form button:hover {
  transform: rotate(15deg);
}

.header form i {
  font-size: 1.7em;
  color: black;
}

.logo {
  margin: 0 20px;
}

.logo img {
  width: 150px;
}

.white {
  background: #fff;
  padding: 0px 20px;
}

.banner {
  border: 1px solid #eee;
  margin: 20px 0;
  position: relative;
}

.banner .content {
  position: relative;
  z-index: 2;
  padding: 40px;
}

.banner_image {
  height: 200px;
  width: 500px;
  float: right;
}

.left {
  float: left;
}

.triangle {
  width: 400px;
  height: 200px;
  float: left;
  background: #fff;
  transform: skew(-40deg);
  z-index: 1;
  position: absolute;
  right: 35%;
}

.clear {
  clear: both;
}

.item {
  position: relative;
}

.slider {
  width: 70%;
  height: 600px;
  float: left;
  position: relative;
}

.slider_content {
  position: absolute;
  bottom: -550px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px 20px;
  color: white;
}

.slider_img {
  width: 820px;
  height: 600px;
  background-size: cover !important;
  background-position: center center !important;
  float: left;
  position: relative;
}

.carousel-indicators {
  bottom: 0;
}

.slider_category {
  background: #f1c40f;
  color: black;
  padding: 10px 10px;
  position: absolute;
  top: -20px;
  text-transform: uppercase;
  font-weight: 600;
}

h5, .slider_title {
  font: 600 1.2em "Journalism";
  letter-spacing: 0px;
  background-color: #fff;
  padding: 10px;
  color: #000;
}

.slider-controls {
  opacity: 0.1;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 100%;
}

sidebar {
  width: 28%;
  float: right;
  position: relative;
  background: #fff;
}

sidebar .rightBanner {
  border: 1px solid #ddd;
  height: 100%;
}

sidebar .rightBanner_imgblock {
  width: 100%;
  position: relative;
  display: block;
}

sidebar .rightBanner_imgblock img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

sidebar .rightBanner_content {
  padding: 10px;
  text-align: center;
}

sidebar .rightBanner_content h5 {
  padding: 5px 5px;
}

sidebar .rightBanner_content a {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.news {
  width: 70%;
  position: relative;
  float: left;
  margin: 20px 0;
}

.news .box {
  width: 250px;
  height: auto;
  float: left;
  margin: 0 30px;
}

.news .box:nth-child(1n) {
  margin-left: 0;
}

.news .box:nth-child(3n) {
  margin-right: 0;
}

.news .box .news_header {
  width: 100%;
  border-bottom: 5px solid #000;
  margin: 5px 0;
  overflow: auto;
}

.news .box .news_header p {
  float: left;
}

.news .box .news_header a {
  float: right;
}

.news .box .news_img {
  width: 100%;
  max-height: 50%;
}

.news .box .news_img img {
  display: block;
  width: 100%;
}

.news .box .news_title {
  font: 600 2.2em "Journalism";
  letter-spacing: 5px;
}

.news .box .news_content {
  font-weight: 900;
}

.news_categor {
  font: 600 1.9em "Journalism";
}

.news_date {
  font: 600 1.2em "Journalism";
  margin: 5px 10px;
}

.topNews {
  margin: 40px 0;
}

.topNews .news_block {
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  list-style: none;
}

.topNews .news_block .news_date {
  margin: 5px 0;
}

.topNews .news_block li {
  display: block;
  margin: 30px 0;
}
