.item{
    position: relative;
}
.slider{
    width: 70%;
    height: 600px;
    float: left;
    position: relative;
    &_content{
      position: absolute;  
      bottom: -550px;
      background: rgba(0, 0,0, 0.5);
      width: 100%;
      padding: 10px 20px;
      color:white;
    }
    &_img{
        width: 820px;
        height: 600px;
        background-size: cover !important;
        background-position: center center !important;
        float: left;
        position: relative;
    }
}
.carousel-indicators{
    bottom: 0;
}
.slider_category{
    background: #f1c40f;
    color: black;
    padding: 10px 10px; 
    position: absolute;
    top: -20px;
    text-transform: uppercase;
    font-weight: 600;
}
h5,.slider_title{
    font: 600 1.2em "Journalism";
    letter-spacing: 0px;
    background-color: #fff;
    padding: 10px;
    color: #000; 
}
.slider-controls{
    opacity: 0.1;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    height: 100%;
}
sidebar{
    width: 28%;
    float: right;
    position: relative;
    background: #fff;
    .rightBanner{
    border: 1px solid #ddd;
            height: 100%;
        &_imgblock{
                width: 100%;
                position: relative;
                display: block;
                img{
                    display: block;
                    max-width: 100%;
                    max-height: 100%;
                    margin: 0 auto;
                }
        }
        &_content{
            padding: 10px;
            text-align: center;
            h5{
                padding: 5px 5px;
            }
            a{
                width: 100%;
                text-align: center;

                padding: 20px 0;                
            }
        }
    }
}
.news{
    width: 70%;
    position: relative;
    float: left;
    margin: 20px 0;
    .box{
        width: 250px;
        height: auto;
        float: left;
        margin: 0 30px;
        &:nth-child(1n){
            margin-left: 0;
        }
        &:nth-child(3n){
            margin-right: 0;
        }
        .news_header{
            width: 100%;
            border-bottom: 5px solid #000;
            margin: 5px 0;
            overflow: auto;
            p{
                float: left;
            }
            
            a{
                float: right;
            }
        }
        .news_img{
            width: 100%;
            max-height: 50%;
            img{
                display: block;
                width: 100%;
            }
        }
        .news_title{
            font: 600 2.2em "Journalism";
            letter-spacing: 5px;
        }
        .news_content{
            font-weight: 900;
        }
    }
}
.news_categor{
                font: 600 1.9em "Journalism";
            }
.news_date{
    font: 600 1.2em "Journalism";
    margin: 5px 10px;                
}

.topNews{
    margin: 40px 0;
    .news_block{
        border-top: 5px solid #000;
        border-bottom: 5px solid #000;
        list-style: none;
        .news_date{
            margin: 5px 0;
        }
        li{
            display: block;
            margin: 30px 0;
        }
    }
}
