@font-face{
	font-family: "Journalism";
	src: url('font/journalism2.ttf');
}
@font-face {
	font-family:'NeoSans';
	src:url('font/NeoSansW1G-Regular.otf');
}
html,body{
	height: 100%;
	background: #eee;
	font-family:'NeoSans';
}
h2{
	font: 600 2.7em "Journalism";
	letter-spacing: 4px;
}
.container{
	width: 1200px;
	height: auto;
	overflow: auto;
}
a{
	color:black;
	font: 600 1.2em "Journalism";
	letter-spacing: 2px;
	transition: all .3s ease-in-out;
	&:hover{
		color: black;
	}
}
.form-control{
	border-radius: 0;
}

@import 'header.scss';
@import 'index.scss';
@import 'slider.scss';