@font-face{
	font-family: "Journalism";
	src: url('font/journalism2.ttf');
}
html,body{
	height: 100%;
	background: #eee;
}
h2{
	font: 600 2.7em "Journalism";
	letter-spacing: 4px;
}
.container{
	width: 1200px;
	height: 100%;
}
a{
	color:black;
	font: 600 1.2em "Journalism";
	letter-spacing: 2px;
}
.form-control{
	border-radius: 0;
	
}

@import 'header.scss';
@import 'index.scss';
@import 'slider.scss';